## Домашнее задание по теме "Классификация. Логистическая регрессия и SVM"

In [1]:
import numpy as np
import pandas as pd # Для работы с данными

In [2]:
data = pd.read_csv('adult.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       46043 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      46033 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capitalgain     48842 non-null  int64
 11  capitalloss     48842 non-null  int64
 12  hoursperweek    48842 non-null  int64
 13  native-country  47985 non-null  object
 14  class           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
# удаляем строки, содержащие null-значения
data = data[data['workclass'].isnull() == 0]
data = data[data['occupation'].isnull() == 0]
data = data[data['native-country'].isnull() == 0]
data = data.reset_index().drop('index', axis=1)

In [5]:
# запоминаем целевую переменную
Y = data['class']
# выбираем признаки
data = data[['age', 'workclass', 'education-num', 'occupation', 'hoursperweek']]
data

       age         workclass  education-num         occupation  hoursperweek
0        2         State-gov             13       Adm-clerical             2
1        3  Self-emp-not-inc             13    Exec-managerial             0
2        2           Private              9  Handlers-cleaners             2
3        3           Private              7  Handlers-cleaners             2
4        1           Private             13     Prof-specialty             2
...    ...               ...            ...                ...           ...
45217    1           Private             13     Prof-specialty             2
45218    2           Private             13     Prof-specialty             2
45219    2           Private             13     Prof-specialty             3
45220    2           Private             13       Adm-clerical             2
45221    1      Self-emp-inc             13    Exec-managerial             3

[45222 rows x 5 columns]

In [6]:
# преобразовываем категориальные атрибуты в континуальные
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

le.fit(data['workclass'])
workclass = pd.Series (data = le.transform(data['workclass']))
workclass.name = "workclass"
data.drop('workclass', axis=1, inplace=True)
data = pd.concat([data, workclass], axis=1)

le.fit(data['occupation'])
occupation = pd.Series (data = le.transform(data['occupation']))
occupation.name = "occupation"
data.drop('occupation', axis=1, inplace=True)
data = pd.concat([data, occupation], axis=1)
data

       age  education-num  hoursperweek  workclass  occupation
0        2             13             2          5           0
1        3             13             0          4           3
2        2              9             2          2           5
3        3              7             2          2           5
4        1             13             2          2           9
...    ...            ...           ...        ...         ...
45217    1             13             2          2           9
45218    2             13             2          2           9
45219    2             13             3          2           9
45220    2             13             2          2           0
45221    1             13             3          3           3

[45222 rows x 5 columns]

In [7]:
# теперь можно обучать модель
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression

In [8]:
model = LogisticRegression()
X_train, X_test, y_train, y_test = train_test_split(data, Y, test_size=0.3, random_state=42)
model.fit(X_train, y_train)

LogisticRegression()

In [9]:
# выводим точность предсказания для обучающей и тестовой выборок
print(model.score(X_train, y_train), model.score(X_test, y_test))

0.7852787869214974 0.790668533942655

Теперь та же самая задача с помощью метода SVM.

In [10]:
from sklearn.svm import SVC
svc = SVC(gamma='auto')
svc.fit(X_train, y_train)

SVC(gamma='auto')

In [11]:
print(svc.score(X_train, y_train), svc.score(X_test, y_test))

0.802306112778392 0.7997346502542935

Результат незначительно выше, чем для логистической регрессии.